venv/
.env
.env.*

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.pkl.gz
*.so

build/
dist/
*.egg-info/
.eggs/

.env/
.venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

*.log
logs/
*.out
*.err

.vscode/
.history/
*.code-workspace

.idea/
*.iml

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*~
.nfs*

.coverage
coverage.xml
htmlcov/

.pytest_cache/

dump/
*.bson
*.json

*.swp
*.swo
.project
.settings/
